@font-face {
  font-family: 'Baron Neue';
  src: local('Baron Neue'),
       local('BaronNeue'),
    	 url('../fonts/baron_neue_bold.eot');
  src: url('../fonts/baron_neue_bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/baron_neue_bold.woff2') format('woff2'),
       url('../fonts/baron_neue_bold.woff') format('woff'),
       url('../fonts/baron_neue_bold.ttf') format('truetype'),
       url('../fonts/baron_neue_bold.svg#baron_neue_boldbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Baron Neue';
  src: local('Baron Neue'),
       local('BaronNeue'),
       url('../fonts/baron_neue.eot');
  src: url('../fonts/baron_neue.eot?#iefix') format('embedded-opentype'),
       url('../fonts/baron_neue.woff2') format('woff2'),
       url('../fonts/baron_neue.woff') format('woff'),
       url('../fonts/baron_neue.ttf') format('truetype'),
       url('../fonts/baron_neue.svg#baron_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$baron: 'Baron Neue', Arial, -apple-system, Helvetica, "Helvetica Neue", "Lucida Grande", sans-serif;
$arial: Arial, -apple-system, Helvetica, "Helvetica Neue", "Lucida Grande", sans-serif;